---
import type { CollectionEntry } from 'astro:content'
import { getPostSlug } from '@utils/dateUtils'

interface Props {
  post: CollectionEntry<'blog'>
  urlPrefix?: string
}
const { urlPrefix = '/blog', post } = Astro.props
const dateString = post.data.pubDate.toISOString()
const shortDate = dateString.slice(0, 10)
---

<a
  href={`${urlPrefix}/${getPostSlug(post)}`}
  class:list={[post.data.type, 'blog-post-item']}
>
  <h3>{post.data.title}</h3>
  <p>{post.data.description}</p>
  <time datetime={dateString}>{shortDate}</time>
</a>

<script>
  import { relativeDate } from '@utils/dateUtils'
  const posts = document.querySelectorAll('.blog-post-item')
  posts.forEach((post) => {
    const postDate = post.querySelector('time')
    postDate!.textContent = relativeDate(postDate!.getAttribute('datetime')!)
  })
</script>

<style lang='scss'>
  a {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.3125rem;
    text-decoration: none;
    background: var(--blog-post-bg);
    box-shadow: var(--elevation-2);
    padding: 1rem;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-left: 4px solid var(--border-colour, var(--accent-500));
    height: 6rem;
    transition: 0.2s ease-in-out;

    &:hover {
      border-left: 4px solid var(--border-colour-hover, var(--accent-400));
      background: var(--blog-post-bg-hover);
    }

    &.engineering {
      --border-colour: var(--support-2-500);
      --border-colour-hover: var(--support-2-300);
    }

    &.science {
      --border-colour: var(--support-1-500);
      --border-colour-hover: var(--support-1-400);
    }

    > h3 {
      font-family: 'Overpass', sans-serif;
      font-weight: 700;
      font-size: 1.25rem;
      color: var(--grey-900);
      line-height: 1;
    }

    > p {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      color: var(--grey-600);
      hyphens: auto;
      overflow: hidden;
    }

    > time {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-family: 'DM Mono', monospace;
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--grey-700);
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }
  }

  :global(.dark) a {
    --blog-post-bg: rgba(92, 128, 138, 0.35);
    --blog-post-bg-hover: rgba(92, 128, 138, 0.5);

    > h3 {
      color: var(--grey-100);
    }

    > p {
      color: var(--grey-300);
    }

    time {
      color: var(--grey-100);
    }
  }
</style>
