---
import type { IconType } from '@utils/icons'

interface Props {
  type: IconType
  fill?: string
  height?: string
}
const { type, height = '100%', fill = 'var(--grey-100)' } = Astro.props
const svgStyle = `height: ${height}; fill: ${fill}`
---

<div style=`height: ${height}`>
  {
    type == 'github' && (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        style={svgStyle}
      >
        <path d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z' />
      </svg>
    )
  }
  {
    type == 'gscholar' && (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 512 512'
        style={svgStyle}
      >
        <path fill='var(--grey-400)' d='M256 411.12L0 202.667 256 0z' />
        <path fill='var(--grey-500)' d='M256 411.12l256-208.453L256 0z' />
        <circle fill='var(--grey-200)' cx='256' cy='362.667' r='149.333' />
        <path
          fill='var(--grey-300)'
          d='M121.037 298.667c23.968-50.453 75.392-85.334 134.963-85.334s110.995 34.881 134.963 85.334H121.037z'
        />
      </svg>
    )
  }
  {
    type == 'blog' && (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        style={svgStyle}
      >
        <rect width='20' height='12' x='2' y='10' class='primary' rx='2' />
        <path
          class='secondary'
          d='M20 8H4c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2zm-2-4H6c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2z'
        />
      </svg>
    )
  }
  {
    type == 'x' && (
      <svg
        style={svgStyle}
        viewBox='0 0 34 34'
        version='1.1'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
      >
        <g
          id='Design-Sheet'
          stroke='none'
          stroke-width='1'
          fill='none'
          fill-rule='evenodd'
        >
          <g
            id='Landing-Page'
            transform='translate(-736, -1009)'
            fill='#F8FBFC'
            fill-rule='nonzero'
          >
            <g id='Group' transform='translate(721, 994)'>
              <path
                d='M35.238467,29.398198 L47.8970901,15 L44.8977999,15 L33.9013485,27.4991449 L25.1249113,15 L15,15 L28.2746629,33.9025988 L15,49 L17.9992903,49 L29.6046842,35.7973971 L38.8750887,49 L49,49 L35.238467,29.398198 Z M31.1343817,34.0361699 L29.7776984,32.1325911 L19,17 L23.6404575,17 L32.3409578,29.2170194 L33.6919228,31.1205982 L45,47 L40.3595425,47 L31.1343817,34.0361699 Z'
                id='Shape'
              />
            </g>
          </g>
        </g>
      </svg>
    )
  }
  {
    type == 'linkedin' && (
      <svg
        style={svgStyle}
        viewBox='0 0 34 34'
        version='1.1'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
      >
        <g
          id='Design-Sheet'
          stroke='none'
          stroke-width='1'
          fill='none'
          fill-rule='evenodd'
        >
          <g
            id='Landing-Page'
            transform='translate(-822, -1009)'
            fill='#F8FBFC'
            fill-rule='nonzero'
          >
            <g id='Group-Copy' transform='translate(807, 994)'>
              <g id='linkedin-112' transform='translate(15, 15)'>
                <path
                  d='M0.532043403,11.2891808 L7.23902568,11.2891808 L7.23902568,34 L0.532043403,34 L0.532043403,11.2891808 Z M3.88571429,0 C6.02934592,0 7.77142857,1.8339715 7.77142857,4.09445681 C7.77142857,6.35267142 6.02934592,8.18664292 3.88571429,8.18664292 C1.73704981,8.18664292 0,6.35267142 0,4.09445681 C0,1.8339715 1.73704981,0 3.88571429,0'
                  id='Shape'
                />
                <path
                  d='M11.6571429,11.2490847 L18.5292088,11.2490847 L18.5292088,14.3601331 L18.6271616,14.3601331 C19.5836426,12.5706926 21.921451,10.6857143 25.4058842,10.6857143 C32.6609267,10.6857143 34,15.3962646 34,21.5220651 L34,34 L26.838685,34 L26.838685,22.936178 C26.838685,20.2971324 26.7922054,16.9036407 23.1157078,16.9036407 C19.3873527,16.9036407 18.8184578,19.7800145 18.8184578,22.7466186 L18.8184578,34 L11.6571429,34 L11.6571429,11.2490847 Z'
                  id='Path'
                />
              </g>
            </g>
          </g>
        </g>
      </svg>
    )
  }
</div>

<style lang='scss'>
  .icn {
    height: 1.5rem;

    svg {
      fill: var(--grey-300);
      height: 100%;
    }
  }
</style>
