---
import '../styles/global.css'
import { generateJsonLD } from '@utils/jsonLDgen'
interface Props {
  title?: string
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='canonical' href={canonicalURL} />
    <link rel='shortcut icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='apple-touch-icon' sizes='64x64' href='/favicon.png' />
    <link rel='mask-icon' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title || 'evangelos.ai'}</title>
    <!-- Fonts & Math -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Inter:wght@400;700&&family=Overpass:wght@700&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css'
      integrity='sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV'
      crossorigin='anonymous'
    />

    <!-- Common SEO -->
    <meta name='title' content={title} />
    <meta property='og:site_name' content='evangelos.ai' />
    <meta property='og:locale' content='en_GB' />
    <meta property='og:url' content={canonicalURL} />
    <meta name='twitter:domain' content={import.meta.env.SITE} />
    <meta name='twitter:creator' content='@evangelos_ch' />
    <meta name='twitter:site' content='@evangelos_ch' />
    <!-- Custom per-page SEO -->
    <slot name='seo'>
      <meta
        name='description'
        content='Evangelos Chatzaroulas | PhD @ University of Surrey'
      />
      <!-- OpenGraph -->
      <meta property='og:title' content={title || 'evangelos.ai'} />
      <meta
        property='og:description'
        content='Evangelos Chatzaroulas | PhD @ University of Surrey'
      />
      <meta
        property='og:image'
        content={new URL('/images/default-embed.jpg', Astro.site)}
      />
      <meta
        property='og:image:url'
        content={new URL('/images/default-embed.jpg', Astro.site)}
      />
      <meta
        property='og:image:secure_url'
        content={new URL('/images/default-embed.jpg', Astro.site)}
      />
      <meta property='og:image:type' content='image/jpeg' />
      <meta property='og:image:width' content='1200' />
      <meta property='og:image:height' content='600' />
      <!-- Twitter -->
      <meta name='twitter:title' content={title || 'evangelos.ai'} />
      <meta
        name='twitter:description'
        content='Evangelos Chatzaroulas | PhD @ University of Surrey'
      />
      <meta name='twitter:card' content='summary' />
      <meta
        name='twitter:image'
        content={new URL('/images/default-embed-twitter.jpg', Astro.site)}
      />
      <meta name='twitter:image:alt' content={title || 'evangelos.ai'} />
      <Fragment set:html={generateJsonLD()} />
    </slot>
  </head>
  <body>
    <slot />
  </body>
</html>
